.col-lg-3.webcam {
    margin-left: 86px;
}
div#results img {
    width: 340px;
    height: 215px;
}
.pop-outer {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pop-inner {
    background-color: #727db3;
    width: 460px;
    height: 314px;
    padding: 25px;
    margin: 5% auto;
    border: 1px solid #000;
}
input.buttonsnap {
    color: #fff;
    background-color: #415094;
    font-size: 16px;
    height: 36px;
    font-weight: 700;
    border: 1px solid #415094;
    margin-top: 20px;
    float: right;
    margin-right: 78px;
}
input.closebutton {
    background-color: #000;
    color: #fff;
    border: none;
    height: 36px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    float: left;
    margin-left: 100px;
    width: 20%;
}
.col-lg-2.button {
    float: right;
    margin-top: -33px;
    margin-right: -138px;
}

button.btn.btn-warning.btn-icon {
    width: 37px;
    height: 30px;
    margin-top: -28px;
    padding: 0px;
    margin-left: 10px;
}
.col-lg-2.button1 {
    float: right;
    margin-top: 0px;
    margin-right: -138px;
}
